server {
    listen 0.0.0.0:80;
    server_name yourapp.com;
    access_log /bitnami/nginx/logs/yourapp_access.log;
    error_log /bitnami/nginx/logs/yourapp_error.log;

    root /app;

    location / {
        index index.php;
    }

    location ~ \.php$ {
        fastcgi_pass [your_php-fpm_container_link_alias]:9000;
        fastcgi_index index.php;
        include fastcgi.conf;
    }
}
