version: '2'

services:
  etcd:
    image: docker.io/bitnami/etcd:3.3
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
    volumes:
      - etcd_data:/bitnami/etcd
volumes:
  etcd_data:
    driver: local
