# Copyright VMware, Inc.
# SPDX-License-Identifier: APACHE-2.0

version: '2'

services:
  ruby:
    tty: true # Enables debugging capabilities when attached to this container.
    image: docker.io/bitnami/ruby:3.3
    # command: sh -c 'bundle install && bundle exec rails server -b 0.0.0.0 -p 3000'
    ports:
      - 3000:3000
    volumes:
      - .:/app
