<configuration>
  <property name="zookeeper.console.threshold" value="INFO" />
  <property name="zookeeper.log.service.nodename" value="${HOSTNAME}" />

  <!--
    console
    Add "console" to root logger if you want to use this
  -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <if condition='property("zookeeper.log.format").equalsIgnoreCase("json")'>
      <then>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
          <serviceName>${zookeeper.log.service.name:-zookeeper}</serviceName>
          <serviceNodeName>${zookeeper.log.service.nodename}</serviceNodeName>
          <includeMarkers>true</includeMarkers>
        </encoder>
      </then>
      <else>
        <!-- Use text pattern as fallback format -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <pattern>%d{ISO8601} [myid:%X{myid}] - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
      </else>
    </if>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${zookeeper.console.threshold}</level>
    </filter>
  </appender>

  <root level="${zookeeper.log.level:-INFO}">
    <appender-ref ref="${zookeeper.log.appender:-CONSOLE}" />
  </root>
</configuration>